<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
We’ve got you covered!
</h2>
                <hr class="light">
                <p class="text-faded">ASSESMENT TESTS . TAILORED CURRICULUM . HOLISTIC CERTIFICATE . EXPERT CONNECT . INDUSTRY INSIGHTS . SECTOR BASED COMMUNITY . LIVE PROJECTS . APPS & TOOLS</p>
                <a href="#" class="btn btn-default btn-xl">TAKE A PERSONAL TOUR</a>
            </div>
        </div>
    </div>
</section>
